.Text {
    border-radius: 10px;
    background-color: #fff;
    padding: 15px 20px;
    display: block;
    width: 100%;
    resize: none;
    color: var(--violet);
    font-weight: 600;
    transition: all .3s ease;
    border: 1px solid transparent;
    outline: none;

    &::placeholder {
        color: var(--light_violet);
    }

    &:focus {
        border-color: var(--light_violet);
    }
}