.ClientsPage {

    &__body {
        position: relative;

        &_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            &_search {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 600px;
            }

            &_all {

            }
        }

        &_table {
            padding-bottom: 90px;
            table {
                
                width: 100%;

                .spacer {
                    margin-bottom: 15px;
                }

                tr.row.active {
                    td {
                        color: #fff;
                        background-color: var(--violet) !important;
                    }
                }


                tr.row {
                    cursor: pointer;

                    td {
                        transition: all .3s ease;
                    }

                    &:nth-child(even) {
                        td {
                            background-color: #F6F8FF;
                        }
                    }

                }
                tr {

                    td, th {
                        // pointer-events: none;
                    }
                    &:first-child {
                        
                    }

                    &:nth-child(3) {

                        td {
                            
                            
                            &:first-child {
                                border-radius: 10px 0 0 0;
                            }

                            &:last-child {
                                border-radius: 0 10px 0 0 ;
                            }
                        }
                    }
                    &:last-child {

                        td {
                            &:first-child {
                                border-radius: 0 0 0 10px;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 0;
                            }
                        }
                    }

                    th {
                        font-weight: 600;
                        color: #000;
                        padding: 20px 10px;
                        background-color: #fff;
                        text-align: left;
                        
                        
                        &:first-child {
                            border-radius: 10px 0 0 10px;
                        }
                        

                        &:last-child {
                            border-radius: 0 10px 10px 0;
                        }

                    }

                    td {
                        background-color: #fff;
                        padding: 20px 10px;
                        color: rgba(0, 0, 0, 0.5);
                        font-weight: 600;
                    }
                }
            }
        }

        &_action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;

            .Button {
                width: 49%;
            }
        }
    }
}