.Header {
    background-color: #fff;
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    &__logo {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }
}