.OrdersPage {
    
    &__pag {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;


        &_jm {
            width: 32px;
            height: 32px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: unset;
            border: 1px solid #eaeaea;
            background-color: #fff;
            margin: 0 7px;
            color: var(--violet);
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                border-color: #1890ff;
                color: #1890ff;
            }

        }

        &_jm.OrdersPage__pag_jm-start {
            
        }   
        &_jm.OrdersPage__pag_jm-end {
            
        }
    }
}